<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Поздравляем!</h1>
<p>Вы подписались на рассылку газеты FL Story</p>
<p>Ваш первый эксклюзивный выпуск находится в приложении к письму</p>
</body>
</html>